@custom-variant dark (&:is(.dark *));

:root {
  --background: oklch(0.9892 0.0053 286.3028);
  --foreground: oklch(0.2257 0.0194 280.2492);
  --card: oklch(0.9892 0.0053 286.3028);
  --card-foreground: oklch(0.2257 0.0194 280.2492);
  --popover: oklch(1.0000 0 0);
  --popover-foreground: oklch(0.2257 0.0194 280.2492);
  --primary: oklch(0.6217 0.1799 287.7754);
  --primary-foreground: oklch(1.0000 0 0);
  --secondary: oklch(0.9570 0.0187 289.3286);
  --secondary-foreground: oklch(0.3569 0.0813 288.2584);
  --muted: oklch(0.9601 0.0093 286.2229);
  --muted-foreground: oklch(0.5100 0.0425 284.7922);
  --accent: oklch(0.9570 0.0187 289.3286);
  --accent-foreground: oklch(0.4619 0.2173 279.9839);
  --destructive: oklch(0.6430 0.1925 24.3201);
  --destructive-foreground: oklch(1.0000 0 0);
  --border: oklch(0.9175 0.0216 285.9662);
  --input: oklch(0.8660 0.0371 285.5991);
  --ring: oklch(0.6217 0.1799 287.7754);
  --chart-1: oklch(0.6217 0.1799 287.7754);
  --chart-2: oklch(0.7716 0.1036 291.3083);
  --chart-3: oklch(0.3569 0.0813 288.2584);
  --chart-4: oklch(0.8740 0.0537 291.1256);
  --chart-5: oklch(0.5413 0.1805 285.7967);
  --sidebar: oklch(0.9811 0.0093 286.2277);
  --sidebar-foreground: oklch(0.3755 0.0323 284.7377);
  --sidebar-primary: oklch(0.6217 0.1799 287.7754);
  --sidebar-primary-foreground: oklch(1.0000 0 0);
  --sidebar-accent: oklch(0.9570 0.0187 289.3286);
  --sidebar-accent-foreground: oklch(0.4619 0.2173 279.9839);
  --sidebar-border: oklch(0.9430 0.0134 286.1402);
  --sidebar-ring: oklch(0.6217 0.1799 287.7754);
  --font-sans: Inter, sans-serif;
  --font-serif: Merriweather, serif;
  --font-mono: JetBrains Mono, monospace;
  --radius: 0.5rem;
  --shadow-x: 0px;
  --shadow-y: 4px;
  --shadow-blur: 10px;
  --shadow-spread: 0px;
  --shadow-opacity: 0.05;
  --shadow-color: #000000;
  --shadow-2xs: 0px 4px 10px 0px hsl(0 0% 0% / 0.03);
  --shadow-xs: 0px 4px 10px 0px hsl(0 0% 0% / 0.03);
  --shadow-sm: 0px 4px 10px 0px hsl(0 0% 0% / 0.05), 0px 1px 2px -1px hsl(0 0% 0% / 0.05);
  --shadow: 0px 4px 10px 0px hsl(0 0% 0% / 0.05), 0px 1px 2px -1px hsl(0 0% 0% / 0.05);
  --shadow-md: 0px 4px 10px 0px hsl(0 0% 0% / 0.05), 0px 2px 4px -1px hsl(0 0% 0% / 0.05);
  --shadow-lg: 0px 4px 10px 0px hsl(0 0% 0% / 0.05), 0px 4px 6px -1px hsl(0 0% 0% / 0.05);
  --shadow-xl: 0px 4px 10px 0px hsl(0 0% 0% / 0.05), 0px 8px 10px -1px hsl(0 0% 0% / 0.05);
  --shadow-2xl: 0px 4px 10px 0px hsl(0 0% 0% / 0.13);
  --tracking-normal: -0.01em;
  --spacing: 0.25rem;
}

.dark {
  --background: oklch(0.1503 0.0171 289.8934);
  --foreground: oklch(0.9284 0.0161 286.0812);
  --card: oklch(0.1503 0.0171 289.8934);
  --card-foreground: oklch(0.9284 0.0161 286.0812);
  --popover: oklch(0.1941 0.0240 287.7536);
  --popover-foreground: oklch(0.9284 0.0161 286.0812);
  --primary: oklch(0.6217 0.1799 287.7754);
  --primary-foreground: oklch(1.0000 0 0);
  --secondary: oklch(0.2354 0.0399 287.2762);
  --secondary-foreground: oklch(0.9284 0.0161 286.0812);
  --muted: oklch(0.2047 0.0296 286.5224);
  --muted-foreground: oklch(0.6907 0.0467 285.1130);
  --accent: oklch(0.2739 0.0616 285.5915);
  --accent-foreground: oklch(0.7716 0.1036 291.3083);
  --destructive: oklch(0.3997 0.1352 25.8101);
  --destructive-foreground: oklch(1.0000 0 0);
  --border: oklch(0.2587 0.0372 285.7691);
  --input: oklch(0.3015 0.0518 286.0003);
  --ring: oklch(0.6217 0.1799 287.7754);
  --chart-1: oklch(0.6217 0.1799 287.7754);
  --chart-2: oklch(0.5413 0.1805 285.7967);
  --chart-3: oklch(0.7716 0.1036 291.3083);
  --chart-4: oklch(0.3569 0.0813 288.2584);
  --chart-5: oklch(0.4539 0.1474 285.6505);
  --sidebar: oklch(0.1616 0.0230 287.6930);
  --sidebar-foreground: oklch(0.8147 0.0307 285.6989);
  --sidebar-primary: oklch(0.6217 0.1799 287.7754);
  --sidebar-primary-foreground: oklch(1.0000 0 0);
  --sidebar-accent: oklch(0.2354 0.0399 287.2762);
  --sidebar-accent-foreground: oklch(0.9284 0.0161 286.0812);
  --sidebar-border: oklch(0.2587 0.0372 285.7691);
  --sidebar-ring: oklch(0.6217 0.1799 287.7754);
  --font-sans: Inter, sans-serif;
  --font-serif: Merriweather, serif;
  --font-mono: JetBrains Mono, monospace;
  --radius: 0.5rem;
  --shadow-x: 0px;
  --shadow-y: 8px;
  --shadow-blur: 20px;
  --shadow-spread: 0px;
  --shadow-opacity: 0.4;
  --shadow-color: #000000;
  --shadow-2xs: 0px 8px 20px 0px hsl(0 0% 0% / 0.20);
  --shadow-xs: 0px 8px 20px 0px hsl(0 0% 0% / 0.20);
  --shadow-sm: 0px 8px 20px 0px hsl(0 0% 0% / 0.40), 0px 1px 2px -1px hsl(0 0% 0% / 0.40);
  --shadow: 0px 8px 20px 0px hsl(0 0% 0% / 0.40), 0px 1px 2px -1px hsl(0 0% 0% / 0.40);
  --shadow-md: 0px 8px 20px 0px hsl(0 0% 0% / 0.40), 0px 2px 4px -1px hsl(0 0% 0% / 0.40);
  --shadow-lg: 0px 8px 20px 0px hsl(0 0% 0% / 0.40), 0px 4px 6px -1px hsl(0 0% 0% / 0.40);
  --shadow-xl: 0px 8px 20px 0px hsl(0 0% 0% / 0.40), 0px 8px 10px -1px hsl(0 0% 0% / 0.40);
  --shadow-2xl: 0px 8px 20px 0px hsl(0 0% 0% / 1.00);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);

  --font-sans: var(--font-sans);
  --font-mono: var(--font-mono);
  --font-serif: var(--font-serif);

  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);

  --shadow-2xs: var(--shadow-2xs);
  --shadow-xs: var(--shadow-xs);
  --shadow-sm: var(--shadow-sm);
  --shadow: var(--shadow);
  --shadow-md: var(--shadow-md);
  --shadow-lg: var(--shadow-lg);
  --shadow-xl: var(--shadow-xl);
  --shadow-2xl: var(--shadow-2xl);

  --tracking-tighter: calc(var(--tracking-normal) - 0.05em);
  --tracking-tight: calc(var(--tracking-normal) - 0.025em);
  --tracking-normal: var(--tracking-normal);
  --tracking-wide: calc(var(--tracking-normal) + 0.025em);
  --tracking-wider: calc(var(--tracking-normal) + 0.05em);
  --tracking-widest: calc(var(--tracking-normal) + 0.1em);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
    letter-spacing: var(--tracking-normal);
  }
}